.nav-logo
{
	background: #FCFCFC;
}
.logo
{
	
	margin-left: 240px;
}
.nav
{
	    
	    margin-left: 300px;

	    

}
.nav--list
{
	display: inline-block;
	background-color: #fff;
	font-size: 10px;
	margin-left: 30px;


}
h1{
    color:#FFF;
    font-weight:100;
    font-size:38px;
    line-height: 1.1em;
    margin-bottom:0.2em;
}
h3{
    color:#FFF;
    font-weight:100;
    font-size:20px;
    line-height: 1.4em;
    margin-bottom:0.53em;
}

.block-1
{
	background:url(Comverse-ref/source/img/slide-bg-complexity.jpg) no-repeat center center fixed; 
	
}
.higligh
{
	margin-left: 220px;
}

.font
{
	color: white;
}

.block-2
{
	background:url(Comverse-ref/source/img/news-and-events-bg.jpg) no-repeat center center fixed; 
}
.block-3
{
	background:url(Comverse-ref/source/img/news-and-events-bg.jpg) no-repeat center center fixed; 
}
.block-4
{
	background-color: black
}

.block-1--content-1
{
		margin-left: 220px;


	background-color:  purple;
    border-radius: 8px;
    display: inline-block;
    margin-right: 20px;
    opacity: 0.8;
    width: 240px;
    cursor: pointer;
    padding: 11px 15px;

	
	


}
.block-1--content-2
{
	background-color:  green;
    border-radius: 8px;
    display: inline-block;
    margin-right: 20px;
    opacity: 0.8;
    width: 240px;
    cursor: pointer;
    padding: 11px 15px;
	

	
}
.block-1--content-3
{
	
	background-color:  orange;
    border-radius: 8px;
    display: inline-block;
    margin-right: 20px;
    opacity: 0.8;
    width: 240px;
    cursor: pointer;
    padding: 11px 15px;
	
}

.floating-box {
    float: left;
    width: 150px;
    height: 75px;
    margin: 10px;
    border: 3px solid #73AD21;  
}
