a
{
    text-decoration: none;
}

.header
{
	width: 100%; 
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
	height: 50px;
}
.header ul
{
	list-style-type: none;
	margin-top: 20px;
	width: 100%;
	height: 100%;
}
.header--li
{
	float :left;
	font-size: 11px;
}
.logo
{
			margin-left: 18%;

}
.nav
{
	margin-right: 50px;    	 

}
.search
{
		margin-top: 20px;

}
.nav--list
{
	display: inline-block;
	background-color: #fff;
	margin-left: 20px;


}
h1{
    color:#FFF;
    font-weight:100;
    font-size:38px;
    line-height: 1.1em;
    margin-bottom:0.2em;
}
h3{
    color:#FFF;
    font-weight:100;
    font-size:20px;
    line-height: 1.4em;
    margin-bottom:0.53em;
}

.wrapper
{
}

.block-1
{
	background:url(Comverse-ref/source/img/slide-bg-complexity.jpg) no-repeat center center fixed; 
	height: 400px;
	padding-top: 50px;
	border-style: hidden;
	
}

.higligh
{
	margin-left: 20%;
}
.list
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	
}

.list ul
{
	width: 80%;
	margin-left: 20%;
	padding: 0px;
	height: 200px;
}
.font
{
	color: white;
}

.block-2
{
	background-color: #3366FF;
	height: 300px;
	padding-top: 15px;

}
.title
{
	margin-left: 33%;
}
.block-3
{
	background:url(Comverse-ref/source/img/news-and-events-bg.jpg) no-repeat center center fixed; 
	height: 400px;

}
.block-4
{
	background-color: black
}

.block-1--content
{
	float:left;
    border-radius: 8px;
    display: inline-block;
    opacity: 0.8;
    height: 120px;
    width: 25%;
    cursor: pointer;
    padding: 11px 15px;

	


}
.purpleBack
{
	background-color:  purple;

}
.greenBack
{
	background-color:  green;
	margin-left: 30px;
}
.orangeBack
{
	background-color:  orange;
	margin-left: 30px;

}

.floating-box {
    float: left;
    width: 150px;
    height: 75px;
    margin: 10px;
    border: 3px solid #73AD21;  
}
