a
{
    text-decoration: none;
}


body {
	margin: 0;


	}

.header
{
	
	padding-bottom: 40px;
	height: 30px;

}
.mobile-menu-items 
{
	display: none;
}

#mobile-menu, #mobile-menu-icon,#mobile-search
{
	display: none;
}

ul
{
	list-style-type: none;
	
}
	
.header--li
{
	display:inline-block;
	font-size: 11px;
}

.mobile-logo
{
	display: none;
}
.logo
{
}

.search
{
	padding:6px 15px 6px 30px;
	width:90px;
	height:8px;
	margin:3px; 
	background: url(Comverse-ref/source/img/searchBtn.png) no-repeat right ; 	
	border-radius:8px; 	
	margin-top: 20px;

}
.nav--list
{
	
	display:inline-block;
	padding-left:15px;
	padding-right:15px;
	background: url(Comverse-ref/source/img/divider.png) right center no-repeat  ;

}
h1{
    color:#FFF;
 	font-size: 2em;
	font-weight: normal;
	min-width: 368px;
}
h3{
    color:#FFF;
    font-weight:100;
    font-size:20px;
    line-height: 1.4em;
    margin-bottom:0.8em;
}
h4{
	color: #585951;
    font-weight:100;
    font-size:12px;
    line-height: 1.4em;
    margin-bottom:0.53em;
}


.wrapper-in
{
	width: 940px;
	margin: 0 auto;
	padding: 0 ;
}

.block-1
{
	background:url(Comverse-ref/source/img/slide-bg-complexity.jpg) no-repeat center center fixed ; 
	background-size: cover;
	box-shadow: 0 1px 10px 0 black;
	border-style: hidden;
	padding-top: 5px;


}

.higligh
{
	width: 500px;
}
.blue-button
{
	background: url(Comverse-ref/source/img/btnArrow.png) right 15px center no-repeat, linear-gradient(to bottom, #2e94c8 , #1188c4);
	height: 36px;
	width: 180px;
	padding: 10px;
	border: none;
	text-align: left;
	border-radius: 6px;
	color: white;
	box-shadow: 0 1px 3px 0 grey;
	margin: 20px 0 20px 0;

}

.blue-button:hover
{
	cursor: pointer;

}

.list-box{
	margin-top: 10px; 
}

.box:hover{
	cursor: pointer;
	}
.box {
 	display: inline-block;
  	width: 14px;
	height: 14px;
 	border-radius: 4px;
 	border: none;
 	margin-right: 1.5%; 
 }
 .selected{
 	background: linear-gradient(to bottom, #2e94c8 , #1188c4);

 }

.list{
	padding-bottom: 10px;   
}

.list ul
{
	padding: 0px;

}
.slides{
		margin-top: 110px; 

}


.block-1--content
{
	display:inline-block;
    border-radius: 8px;
    opacity: 0.9;
    width: 230px;
    padding: 11px 15px;

}


.block-1--content:hover
{
	  opacity: 1;

}
.purpleBack
{
	background-color: rgba(251, 66, 158, 0.9);

}
.greenBack
{
	background-color: rgba(106, 192, 50, 0.9);
	margin-left: 30px;
}
.orangeBack
{
	background-color: rgba(255, 117, 24, 0.9);
	margin-left: 30px;

}



 .read-more a{
	 color:#FFFFFF;
	 font-size:15px;
 }


 .read-more >img{
 	 float:left;
	 width:30px;
	 height:20px;

 }


.block-2
{
	background:linear-gradient(90deg, rgb(49, 139, 173), rgb(86, 183, 214), rgb(49, 139, 173));
	background-size: cover;
	box-shadow: 0 1px 10px 0 black;
	padding-top: 15px;
	padding-bottom: 30px;

}

.title-b2
{
	margin-left: 0px;
	margin-bottom: 30px;
	text-align: center;
  	vertical-align: middle;


}
.title-b3
{
	margin-left: 0px;
	margin-bottom: 30px;
	text-align: center;
  	vertical-align: middle;
}
.title-b4
{
	margin-right: 80px;
	margin-bottom: 30px;
	text-align: center;
  	vertical-align: middle;
}

.smart-list{
		display:inline-block;	
}



.img {
	display:inline-block;
	margin: 0 auto; 
  	text-align: center;
  	vertical-align: middle;
  	width: 143px;
}


.smart-list >a
{
	 color:#FFFFFF;
	 font-size:13px;

}

.texthover{
	width: 130px;
	margin-left: 15px;
	margin-top: 9px;
}


.img1>div{
  height: 60px;
  
  background: url(Comverse-ref/source/img/solution_icon_smart-money.png) no-repeat center center;
}
.img1:hover div{
  height: 60px;
  
  background: url(Comverse-ref/source/img/solution_icon_smart-money_hover.png) no-repeat center center;
}
.img2>div{
  height: 60px;
  background: url(Comverse-ref/source/img/solution_icon_biz-analitics.png) no-repeat center center;
}
.img2:hover div{
  height: 60px;
  background: url(Comverse-ref/source/img/solution_icon_biz-analitics_hover.png) no-repeat center center;
}
.img3>div{
  height: 60px;
  margin-left:10px; 
  margin-bottom: 18px;
  width: 152px;
  background: url(Comverse-ref/source/img/solution_icon_optimize-efficnt.png) no-repeat center center;
 
}
.img3:hover div{
  height: 60px;
  margin-left:10px; 
  margin-bottom: 18px;
  width: 152px;
  background: url(Comverse-ref/source/img/solution_icon_optimize-efficnt_hover.png) no-repeat center center;
   
}
.img4>div{
  height: 60px;
  background: url(Comverse-ref/source/img/solution_icon_biz-transform.png) no-repeat center center;
}
.img4:hover div{
  height: 60px;
  background: url(Comverse-ref/source/img/solution_icon_biz-transform_hover.png) no-repeat center center;
}
.img5>div{

  height: 60px;
  background: url(Comverse-ref/source/img/solution_icon_personal.png) no-repeat center center;
}
.img5:hover div{
  height: 60px;
  background: url(Comverse-ref/source/img/solution_icon_personal_hover.png) no-repeat center center;
}
.img6>div{
  height: 60px;
  background: url(Comverse-ref/source/img/solution_icon_diti-cx.png) no-repeat center center;
}
.img6:hover div{
  height: 60px;
  background: url(Comverse-ref/source/img/solution_icon_diti-cx_hover.png) no-repeat center center;
}
.img1:hover .texthover{
  color:rgb(77, 196, 255);
  }
.img2:hover .texthover{
  color:rgb(77, 196, 255);
  }
 .img3:hover .texthover{
  color:rgb(77, 196, 255);
  }
 .img4:hover .texthover{
  color:rgb(77, 196, 255);
  }
 .img5:hover .texthover{
  color:rgb(77, 196, 255);
  }
 .img6:hover .texthover{
  color:rgb(77, 196, 255);
  }



.block2-button
{
	margin-left: 320px;
	margin-top: 30px;
}



.block-3
{
	background:url(Comverse-ref/source/img/news-and-events-bg.jpg) no-repeat center center fixed;
	background-size: cover;
	box-shadow: 0 1px 10px 0 black;
	padding-top: 30px;

}
.block3-list{
	    padding-bottom: 2px;
}

.dateBox{
	display: inline-block;
	margin-left: 0px;
	margin-right: 0px;
}

.secend-list
{
	margin-left: 14px;
}

.name-list{
		   height: 36px;
}

.name-it{
		list-style-type: none;
}


.block-3--content
{
	display:inline-block;
    border-radius: 2px;
    background: rgba(221, 211, 203, 0.5);
    width: 237px;
    height: 99px;
    padding: 11px 15px;
}

.date {
	float: left;
	width: 70px;
	height: 100px;
	background: rgb(51, 153, 204);
	border-radius: 1px;
	margin-right: 10px;
	box-shadow: 0 1px 4px 0 grey;
}
.block-3--content:hover{
	background: rgba(221, 211, 203, 1);
	cursor: pointer;

}

.day {
	text-align: center;
	font-size: 2.5em;
	font-weight: bold;
	height:60px;
	border-bottom: 1px dotted;
	color:white;
}

.month {
	text-transform: uppercase;
	text-align: center;
	padding: 4px;
	font-size: 1.2em;
	color:white;
}
.logo-it{
	list-style-type: none;
}

.block-3--content a
{
	 color:black;
	 font-size:14px;
}
.content-secend
{
	margin-left: 20px;
}

 .all-news a{
	 color:#FFFFFF;
	 font-size:12px;
 }


 .paper {
	text-transform: capitalize;
	margin: 5px 5px 0px 0px;
}


 .all-news >img{
 	 float:left;
	 width:20px;
	 height:20px;

 }


.block-4
{
	background-color: rgb(236, 236, 236);
	background-size: cover;
	padding-top: 15px;

}
.succ
{
	color:grey;
	height: 300px;
	margin-left: 13%;


}

.succ-list
{
}
.succ-item1
{
	display: inline-block;
	margin-left: 38px;

}
.succ-item2{
	position: absolute;
	display: inline-block;
	margin-left: 6px;

}
.succ-item3{
	position: absolute;
	display: inline-block;
	margin-left: 327px;
}

.pic1
{
		border-radius: 4px;
		margin-left: 1px;
		margin-right: 0px;
		width: 101px

}


.pic-person
{
	float: left;
	padding-right: 11px;
	padding-top: 5px;
	height: 103px;
	width: 90px;
}
.ll
{
	
    height: 95px;
    color: #565656;
    text-align: left;
    font-size: 15px;
    margin-top: 0px;
    padding-top: 18px;
    padding-bottom: 7px;
    border-bottom: 1px solid #DDDDDD;
    line-height: 1.7em;
    margin-bottom: 0.7em;

}

.person-details{
    text-align: left;
    padding-left: 10px;
    display: inline-block;
    float: left;
}
.kk > img{
	width: 50px;
	height: 40px;
	float: right;
}

.person-details > p > a{
    color: #50AED0;
    font-size: 1em;
  
}

.person-details > p{
	font-size: 1em;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    padding: 0px;

}


.pic3
{
	border-radius: 4px;
	margin-left: 1px;
		
}
.succ-b1
{

	height:165px;
	width: 295px;
	background-color: white;
	padding:0px 11px 15px 8px;
	margin-bottom:4px; 
	border-radius: 4px;
}




.succ2-b1
{
			
	height:165px;
	width: 187px;
	background-color: white;
	padding:0px 12px 15px 8px;
	margin-bottom:4px; 
	border-radius: 4px;
}

.succ-b
{
	height:150px;
	color: grey;
	padding-top: 7px;
	border-radius: 4px;
}


.bottom-person
{

}


.succ-b2{
	display: inline-block;

}

.mobile-block4{
	display: none;
}

#top 
{
    display:none;
}
.block-5
{

	background: url(Comverse-ref/source/img/footer-bg.png);
	background-size: cover;
	padding-top: 15px;
	height: 300px;

}
.block5-div{
		
	float: left;
	margin-left: 12px;
	color:#FFFFFF;
	font-size:13px;
	margin-top: -14px;
	line-height:21px;

}

.block5-div > p
{
font-size:17px;
margin-left: 37px;
}

.mm{
		display:inline-block;

}
.footBox{
	background: rgba(220, 210, 201, 0.17);
    color: white;
	height: 313px;
	width: 250px;
	padding-right: 7px;
	padding-left: 7px;
}

.footUP	 {
    padding-bottom: 30px;
    padding-right: 8px;
    border-bottom: 1px solid grey;

}
.footUP p {
    color: rgb(51, 153, 204);
    font-size: 19px;
     margin-left: 20px;

}
.footDown p{
    color: rgb(51, 153, 204);
    font-size: 19px;
}
.boxText{
    font-size: 16px;
}
.footDate{
	background: none;
	border-radius: 0px;
	margin-right: 0px;
	box-shadow: none;
	height: 45px;
	margin-top: 12px
}



.footDay{

	height:20px;
	font-size: 3em;
	border-bottom:none;
}
.footMonth{
	font-size: 1em;
	
}
#foot-submit{
	background: #1f8fc7;
	border-radius: 3px;
    border: none;
    color: white;
    height: 25px;
    margin-right: 5px;

}
#email{
	margin-left: 15px;
	width: 157px;
	height: 23px;
	border-radius: 3px;
	border: none;
	margin-right:-7px;

}

 .SMList{
 	padding-left: 5px;
 	padding-top: 32px;
 	}  

.SM-logo{
	display: inline-block;
}


.smLogo1
{
	background:url("Comverse-ref/source/img/socialMenuIcon-youtube.png")no-repeat center center;
	width:26px;
	height: 22px;
	margin-left: 10px;
}

.smLogo1:hover
{
	background:url("Comverse-ref/source/img/socialMenuIcon-youtube_hover.png")no-repeat center center;
	width:26px;
	height: 22px;
	margin-left: 10px;
}

.smLogo2
{
	background:url("Comverse-ref/source/img/socialMenuIcon-twitter.png")no-repeat center center;
	width:26px;
	height: 22px;
	margin-left: 10px;
}

.smLogo2:hover
{
	background:url("Comverse-ref/source/img/socialMenuIcon-twitter_hover.png")no-repeat center center;
	width:26px;
	height: 22px;
	margin-left: 10px;
}

.smLogo3
{
	background:url("Comverse-ref/source/img/socialMenuIcon-linkdin.png")no-repeat center center;
	width:26px;
	height: 22px;
	margin-left: 10px;
}

.smLogo3:hover
{
	background:url("Comverse-ref/source/img/socialMenuIcon-linkdin_hover.png")no-repeat center center;
	width:26px;
	height: 22px;
	margin-left: 10px;
}

.mobile-block5{
	display: none;
}

