@media (max-width: 767px) {

.page-content
{	
	width:100%;
}

h1
{
	margin-top: 5px;
	font-size: 1.7em;
}
body
{
	    

}

.select-language{
	display: none;
}
.Customer{
	display: none;
}
.nav-mobile
{
	text-align: center;
}


#mobile-menu {
		display: none;
	}
#mobile-menu-icon 
{
		cursor: pointer;
		background: url(Comverse-ref/source/img/hamburger-icon.png) no-repeat center,rgb(218, 218, 218);
		display: inline-block;
		width: 28px;
		height: 26px;
		padding: 10px 5px 2px 10px;
		border-radius: 4px;
		border: 1px solid grey;
		float: left;
		margin-left: 5px;
		margin-top: -35px;
		position: relative; 
}

#mobile-menu:checked ~ .mobile-menu-items 
{
		display: block;
		list-style-type: none;
		padding: 0;
		margin-bottom: 10px;
		background-color: white;
		position: absolute;
		width: 100%;
}

.mobile-nav-item > a
{
	color:black;
}
.mobile-nav-item 
{
		padding: 10px;
		border-bottom: 1px solid grey;
}

.mobile-nav-item:last-child
 {
		padding: 15px 15px 5px 15px;
		border-bottom: none;
}

	

#mobile-search-icon
 {
		cursor: pointer;
		background: url(Comverse-ref/source/img/searchBtnMobile.png) no-repeat center, rgb(218, 218, 218);;
		width: 28px;
		height: 26px;
		padding: 10px 5px 2px 10px;
		border-radius: 4px;
		border: 1px solid grey;
		float: right;
		margin-right: 5px;
		margin-top: -36px;
		position: relative;
}

#mobile-search {
		display: none;
	}
#mobile-search:checked ~ .search-form 
{
		display: inline-block;
		position: absolute;
		background: white;
		margin: 0 0 0 -85px;
		height: 20px;
		width: 10px;
		text-align: center;
}

	
.search-form 
{
		display: none;
}

.search 
{
		width: 150px;
		height: 38px;
}


.mobile-search:focus + .nav-search 
{
		display: block;
		list-style-type: none;
		margin: 0;
		padding: 0;
}

.wrapper-in
{
	width: 100%;
	overflow: hidden;
	
}
.header
{
	width: 100%;
	
}

.header--li
{
	display:none;

}
.mobile-logo
{
	display: block;
	

}
.block-1
{
	width: 100%;
	font-size: 0.8em;
	background: url(Comverse-ref/source/img/slide-bg-complexity.jpg) no-repeat center center;
	background-size: cover;
	padding-top: 0;

	
}

.higligh
{
	background: url(Comverse-ref/source/img/weDoBG.png) repeat rgba(22, 96, 148, 0.9);
	width: 100%;
	margin-top: -5px;
    padding-left: 6px;
    padding-top: 5px;
    padding-bottom: 1px;

}

.blue-button {
    background: url(Comverse-ref/source/img/btnArrow.png) right 15px center no-repeat, rgba(22, 96, 148, 0.9);
    margin-top: 12px;
    margin-left: 10px;
    width: 33%;
    font-size: 1.3em;
    min-width: 150px;
}


.list-box {
    display: none;
}
.slides{
		width: 100%;
}
.list{
background: url(Comverse-ref/source/img/weDoBG.png) repeat rgba(221, 224, 226, 0.9);
}
.slides{
		margin-top: 250px; 

}
.block-1--content
{
		background-color: rgba(238, 238, 238, 0.3);
		width: 100%;
		border-radius: 0;
		margin: 5px 0 0 0;
		padding-top: 10px;
		padding-bottom: 30px;



}


.block-1--content:hover
{
	  opacity: 1;

}

.carousel-nav{
	margin-top: 185px;
	margin-left: -25px;
}
.carousel-nav li {
    border-radius: 9px;
    display: inline-block;
    list-style: none;
    text-align: center;
    float: left;
    margin-right: 6px;
    height: 35px;
    width: 35px;
    border: 1px solid gray;
    font-size: 1.5rem;
    color: #585951;
}
.active {
    background-color: #3399CC;
}
.notactive{
  background-color: #e5e5e5;

}
.carousel-nav{
	display: block;
}
.carousel-nav li:hover {

background-color: #3399CC;

}

.purpleBack
{
	background-color: rgba(251, 66, 158, 0.9);
	padding-top: 24px;
	padding-bottom: 44px;

}
.greenBack
{
	background-color: rgba(106, 192, 50, 0.9);
	margin-left: 0;
}
.orangeBack
{
	background-color: rgba(255, 117, 24, 0.9);
	margin-left: 0;
	padding-top: 24px;
	padding-bottom: 44px;

}

.block-2
{
	margin-top: -15px;
	width: 100%;
}
.img
{
	width: 107px;
	margin-left: 7px;
}
.img3>div 
{
    margin-left: -3px;
    margin-bottom: 17px;
 }

 .img3:hover div
 {
    margin-left: -3px;
    margin-bottom: 17px;
   
}
.smart-list
{
	margin-left: 0px;
    min-width: 436px;
    margin-bottom: 8px;
}

.smart-list > a
{
	font-size: 11px;
}
.texthover
 {
    width: 113px;
    margin-left: 0px;
}
.block2-button
{
	display: none;
}


.block-3
{
	width: 100%;


}
.block3-list{
	margin-left: 30px;
}

.dateBox{
	display: list-item;
	margin-bottom: 10px;
	padding-bottom: 10px;
	margin-top: 23px;
}

.secend-list
{
	margin-left: 0px;
}

.block-3--content
{
	    width: 67%;
	    padding: 14px 18px;
}
.block-3--content a {
    color: black;
    font-size: 13px;
}

.succ
{
	margin-left: 13%;
}
.succ-item1
{
	width: 100%;
	display: list-item;
	list-style-type: none;
	margin-left: 64px;
	margin-top: 10px;

}

.succ-b1
{ 
    width: 68%;
    margin-bottom: 6px;
}
.pic1 
{
	width: 23%;
	margin-right: 2px;
}
.person-details > p > a {
    color: #50AED0;
    font-size: 0.8em;
}
.person-details > p {
    font-size: 0.8em;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    padding: 0px;
}

.ll
{
    font-size: 14px;
    line-height: 1.4em;
}
.mobile-block4
{
	display: block;
	background-color: rgb(236, 236, 236);
	padding-top: 15px;
}
.title-b4
{

}
.block4-button
{
	
	margin-left: 28%;
	font-size: 0.5em;

}
.block-4
{
	display: none;
}
.block-5
{
	display: none;
}

.mobile-block5
{
	display: block;
	background: url(Comverse-ref/source/img/footer-bg.png);
	background-size: cover;
}

.SM-logo > a
{
	color:white;
}

.block5-list-item > a
{
	color:white;
}

#top 
{
    display: block;
    float: right;
    margin-bottom: -1px;
    margin-right: 15px;
}


.block5-list
{
		
		list-style-type: none;
		margin: 0;
		padding: 0;
}


.block5-list-item
{
		padding: 13px;
		border-bottom: 1px groove black;
		font-color:#FFFFFF;
}

.SMList
{
 	padding-left: 0px;
 	padding-top: 0px;
 }  
.smLogo1
{
	margin-left: 40px;
}

.smLogo1:hover
{
	margin-left: 40px;
}

.smLogo2
{
	margin-left: 22px;
}

.smLogo2:hover
{
	margin-left: 22px;
}

.smLogo3
{
	margin-left: 22px;
}

.smLogo3:hover
{
	margin-left: 22px;
}


.footer-language {
		background: rgba(221, 211, 203, 0.15);
		border-radius: 2px;
		border: none;
		background-color: white;
		opacity: 0.5;
		margin-left: 20px;
		padding: 2px;
}


.copyRight
{
	padding-top: 0px;
	background-color: white;
	color:red;
	width: 100%;


}
.copyRight > a
{
	font-size: 10px;
	color:black;
	margin-left: 15%;
}

}


@media (max-width: 352px){

.smart-list
{
	margin-left: -15px;
 
}

.img5>div {
	margin-left: 11px;
}

.img5:hover div{
	margin-left: 11px;
	}

.img2>div {
	margin-left: 15px;
}
.img2:hover div{
	margin-left: 15px;
	}

}