@media (max-width: 767px) {

h1{
    margin-top: 5px;
}
body{
	    

}
.wrapper-in
{
	width: 100%;
	overflow: hidden;
	
}
.header
{
	width: 100%;
	
}

.nav--list{
	display: none;
}
.block-1
{
	width: 100%;
	font-size: 0.8em;
	background: url(Comverse-ref/source/img/slide-bg-complexity.jpg) no-repeat center center;
	background-size: cover;

	
}

.higligh
{
	background: url(Comverse-ref/source/img/weDoBG.png) repeat rgba(22, 96, 148, 0.9);;
	opacity: 0.7;
	width: 100%;
	margin-top: -5px;
	padding-top: 12px 

}

.blue-button {
    background: url(Comverse-ref/source/img/btnArrow.png) right 15px center no-repeat, rgba(22, 96, 148, 0.9);
    margin-top: 45px;
}
.list-box {
    display: none;
}
.slides{
		width: 100%;
}
.list{
background: url(Comverse-ref/source/img/weDoBG.png) repeat rgba(221, 224, 226, 0.9);
}
.slides{
		margin-top: 210px; 

}
.block-1--content
{
		background-color: rgba(238, 238, 238, 0.3);
		width: 100%;
		border-radius: 0;
		margin: 5px 0 0 0;


}


.block-1--content:hover
{
	  opacity: 1;

}
.purpleBack
{
	background-color: rgba(251, 66, 158, 0.9);

}
.greenBack
{
	background-color: rgba(106, 192, 50, 0.9);
	margin-left: 0;
}
.orangeBack
{
	background-color: rgba(255, 117, 24, 0.9);
	margin-left: 0;

}

.block-2
{
	margin-top: -15px;
	width: 100%;
}
.title-b2
{
	margin-left: 100px;
}
.smart-list
{
	margin-left: 80px;
}
.block2-button
{
	display: none;
}


.block-3
{
	width: 100%;

}
.block3-list{
	margin-left: 30px;
}

.dateBox{
	display: list-item;
	margin-bottom: 10px;
	padding-bottom: 10px;
	margin-top: 23px;
}

.secend-list
{
	margin-left: 0px;
}

.block-3--content
{
	    width: 67%;
}

.title-b3 {
    margin-left: 26px;
    margin-bottom: 36px;
}



.succ-item3
{
	display: none;

}

.succ-item1
{
	display: list-item;
	list-style-type: none;
	margin-left: 134px;

}
.succ-item2{
	
	display: list-item;
	list-style-type: none;
	margin-left: 150px;

}

.succ2-b1
{

	
	background-color: grey;
	
}
.block-5
{
	display: none;
}

}